<%
meta title: "Fond'Atelier - Site d'échange de matériel",
     description: "Fond'Atelier est un site facilitant l'échange de matériel entre élèves. Vous pourrez trouver ici ce dont vous avez besoin pour vos projets."  
%>

<%meta og: {

 title: "Fond'Atelier - Site d'échange de matériel",
     description: "Fond'Atelier est un site facilitant l'échange de matériel entre élèves. Vous pourrez trouver ici ce dont vous avez besoin pour vos projets."  
}%>

<div class="container-fluid" id="banner">
	<div id="main_title_container">	
		<%= link_to annonces_path, :id => 'main_title_link' do%><h1><%='De quoi avez-vous besoin ?'%></h1><%end%>
	<!--<h2 id="sub_main_title">Sur Fond'Atelier trouvez tout ce dont vous avez besoin pour réaliser vos projets.</h2>-->	
	</div>


	
	<!--
	<div id="news">
		<h2>News</h2>
		<h3>Mercredi 11 Novembre 2015</h3>
		<p><strong>Lancement de Fond'Atelier.</strong><br> 
		 Le site est limité dans un premier temps aux élèves et enseignants de l'École Supérieure d'Art d'Aix-en-Provence. </p>

		<h3>Vendre 27 Novembre 2015</h3>
		<p><strong>Inscription via Facebook</strong><br>
			Il est désormais possible de s'inscrire via Facebook !</p>
	</div>
	-->
</div>
