<%
meta title: "À propos de Fond'Atelier"  
%>

<%meta og: {
title: "À propos de Fond'Atelier"  
}%>
<div class="container">
	<h1>&#192; propos de Fond'Atelier</h1>
	<p>
		Fond'Atelier a été créé pour les étudiants d'écoles d'art afin de faciliter les échanges de matériel.
	</p>
	<p>L'équipe de Fond'Atelier est consituée de:</p>
	<ul>
		<li>David DAO-ELLENA, développeur et concepteur</li>
		<li>Cassandre PÉPIN, graphiste</li>
	</ul>
</div>