<div class="container">
	<h1>Conditions générales d'utilisation</h1>
	<p>La responsabilité de Fond'Atelier ne peut être engagée en cas d'inexécution ou de mauvaise exécution de la commande due du fait de l'Annonceur. </p>
</div>