<%
meta title: "Nouvelle annonce-Fond'Atelier",
     description: "Nouvelle annonce-Fond'Atelier",    
%>

<div class='container'>
	<div class="panel-group">
		<div class="panel panel-primary">
			<div class="panel-heading">Nouvelle annonce</div>
			<div class="panel-body">	
				<%= render 'form' %>
			</div>
	
		</div>

	</div>
</div>
