/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2{
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}
h3, h4, p, a, span, li{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.italic{
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

textarea{
  resize: none;
}

form{
  width:500px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container{
  width: 940px;
}

form{
    width:50%; 
    margin:0 auto;
}

#new_annonce{
text-align:center;
  color: white;
  display: table-cell; 
  vertical-align: middle;
}

#new_annonce_btn{
  background-color:green;
}

#footer{
margin-top: 20px;  
}

#logo_header{
margin-top: -5px;
max-width: 90%;
}

#image_annonce{
}

.admin-link{
  color:red;
}


.message {
background-color: rgba(0, 0, 0, 0.8);
color:#FFF;
position: absolute;
top: -300px;
left: 0;
width: 100%;
height: 300px;
padding: 20px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box; 
z-index: 2;
}


#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
position:absolute;
cursor:pointer;
padding:10px;
background: #26ae90;
width: 100px;
border-radius: 3px;
padding: 8px 10px;
color: #FFF;
line-height:20px;
font-size:12px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
margin-top: 5px;
transition:all 500ms ease;
}
#toggle + label:after {
  content:"S'identifier" 
}

#toggle:checked ~ .message {
  top: 0;
}

#close {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;

}
#close + label {
top: 10px;
right: 10px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
position:absolute;
cursor:pointer;
padding:10px;
/*width: 100px;
height: 100px;
border-radius: 50px;*/
padding: 8px 10px;
color: #FFF;
line-height:20px;
font-size:12px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
margin:20px 50px;
transition:all 500ms ease;
font-size: 18px;
}

#close + label:after {
  content:"x" 
}

#new_registration{
font-family: 'Montserrat', sans-serif;
font-weight: 700;
color: grey;
}

#new_registration:hover{
text-decoration: none;
color: white;
}

#banner{
  background-image: url("banner/34_perry-ogden_photo-of-francis-bacon-reece-mews-studio.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

#main_title_link{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#main_title_link{
  text-decoration: none;
}

#sub_main_title{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#main_title_container{
width: 800px;
height: 100px;
border-radius: 3px;
background-color: rgba(0, 0, 0, 0);
margin-left: auto;
margin-right: auto;
margin-top: 200px;
display: flex;
align-items: center;
justify-content: center;

  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;

}

#main_title_container:hover{
background-color: rgba(0, 0, 0, 0.5);

}