<nav class="navbar navbar-default" id="footer">
	<div class="container-fluid">

		<div>
			<ul class="nav navbar-nav navbar-right">

				<%if user_signed_in?%>
					<% if current_user.name == 'Admin' %>
					<li>
					<%=link_to "Admin", admin_path, :class => 'navbar-link admin-link' %>
					</li>
					<%end%>
				<%end%>

				<li>
				<%= link_to "À propos", static_a_propos_path,:class => 'navbar-link' %> 
				</li>

				<li>	
				<%= link_to "Conditions générales", static_cgu_path,:class => 'navbar-link' %>
				</li>

				<li><%= link_to "Contact", new_contact_path, :class => 'navbar-link' %>
				</li>

			</ul>

		<div>
	</div>
</nav>